{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content%}
    <div class="container">
        <form> 
            <input type="text" name="movie_query" placeholder="search for a movie"  class="form_control">
            <input type="submit" value="Submit" class="btn btn-default">    
        </form>
    </div>
    <h3>Popular movies</h3>
    <ul>
        {{macro.displayMovieList(popular)}}
    </ul>
    <h3>UPCOMING</h3>
    <ul>
        {{macro.displayMovieList(upcoming)}}
    </ul>
    <h3>Displaying</h3>
    <ul>
        {{macro.displayMovieList(now_showing)}}
    </ul>






{% endblock%}